h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @include breakpoint(large up) {
    font-weight: 400;
  }

}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-right {
    flex: 2 1 0px;
    a {
      color: $dark-gray;
    }
  }

  .title-bar-title {
    font-weight: 800;
    .title-text {
      color: $medium-gray;
      span {
        color: $primary-color;
      }
    }
  }
}

.off-canvas-content {
  background: #aad4b4;
}

.draw-date {
  font-weight: 600;
}

#numbers {
  list-style-type: none;
  margin-bottom: 75px;

  li {
    margin: 10px;

   .num {
    display:inline-block;
    background-color: white;
    border-radius: 50%; 
    width: 60px;
    height: 0;
    padding-top: 0; 
    padding-bottom: 60px; 
    font-weight:800;
    font-size: 3em;
    color: $primary-color;
    text-align: center;
    box-shadow: 0 8px 6px -6px $dark-gray;
    }
    .name {
      font-size: 2em;
      padding: 0 10px;
    }
    .years {
      color: $dark-gray;
      font-size: 1.5em;
    }   
  }
  
  li#num5 {
    .num {
      color: #0099cc;
    }
  }
}

.site-footer {
  padding-bottom: 4em;
  
  a {
    color: $dark-gray;
  }
}
